name: release package

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (e.g., 0.1.0)"
        required: true
        type: string
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: |
          docker build \
            --file ./builder.dockerfile \
            --output ./target/debian \
            --platform linux/${{ matrix.arch }} \
            .

      - name: find .deb file
        id: find_deb
        run: |
          deb_file=$(find ./target/debian -name "*.deb" | head -n 1)
          echo "deb_file=$deb_file" >> $GITHUB_OUTPUT

      - name: upload .deb to release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.find_deb.outputs.deb_file }}
          tag_name: ${{ github.event.inputs.version || github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
